body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    height: 100vh;
    background-color: lightsalmon;
}

.container {
    background-color: lightgoldenrodyellow; 
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    width: 90%; 
    max-width: 600px; 
    box-sizing: border-box; 
}

h1, h2 {
    text-align: center; 
}

label {
    display: block; 
    margin: 10px 0 5px; 
}

input[type="text"],
input[type="number"] {
    width: calc(100% - 20px); 
    padding: 10px;
    margin-bottom: 10px; 
    border: 1px solid black; 
    border-radius: 4px; 
    transition: background-color 0.3s; 
}

input[type="text"].editing,
input[type="number"].editing {
    background-color: lightblue;
}

button {
    width: 100%;
    padding: 10px;
    margin: 5px 0; 
    border: none;
    border-radius: 4px;
    background-color: skyblue; 
    color: black;
    cursor: pointer;
    transition: background-color 0.3s;
}

button:hover {
    background-color: darkblue;
}

#employeeTableContainer {
    margin-top: 20px; 
}

table {
    width: 100%; 
    border-collapse: collapse; 
    font-size: 16px;
}

th, td {
    padding: 15px;
    text-align: center;
    border: 1px solid black;
}

th {
    background-color: lightgoldenrodyellow;
    color: black;
}

td {
    position: relative;
}

td button {
    width: 45%;
    margin: 0 2.5%;
    background-color: greenyellow;
}

td button:nth-child(2) {
    background-color: red;
}

td button:hover {
    opacity: 0.8;
}

@media (max-width: 600px) {
    .container {
        width: 95%;
    }

    button {
        width: 100%;
        margin: 5px 0;
    }

    table {
        font-size: 14px;
    }

    td button {
        width: 100%;
        margin: 5px 0;
    }
}
